.winner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;

  .winner_context {
    scrollbar-width: thin;
    scrollbar-color: #ffd700 #ffd700;
    /* Màu vàng cho thanh cuộn và track */
  }

  &_img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .winner_context {
    max-height: 700px;
    overflow-y: auto;
    /* Dùng auto thay vì scroll để ẩn nếu không cần */
    overflow-x: hidden;
    padding-right: 5px;
    /* Tránh nội dung đè lên scrollbar */

    /* Scrollbar cho Chrome, Edge, Safari */
    &::-webkit-scrollbar {
      width: 2.5px;
      /* Giảm độ rộng của thanh cuộn xuống một nửa */
    }

    &::-webkit-scrollbar-track {
      background: #ffd700;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #ffd700;
      /* Đổi màu thanh cuộn thành vàng */
      border-radius: 5px;
      border: 2px solid #ffd700;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #ffd700;
      /* Màu khi hover */
    }
  }
}